<template>
  <nav class="row navbar navbar-expand-sm">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
      aria-expanded="false" aria-label="Toggle navigation">
      <img src="../../assets/img/mobilePicture/icons/m-burgerweiß.png" class="img-fluid" alt=" image">
      <!--<span><i class="fas fa-bars"></i></span> -->
    </button>
    <div class="col collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav w-50 ">
        <li v-for="category in categories" :key="category" class="nav-item text-uppercase">
          <a class="nav-link" :href="category.url">{{ category.name }}<span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </nav>
</template>
<script>
  import Categories from '../../api/categories.json'
  export default {
    data () {
      return {
        'categories': Categories
      }
    }
  }
</script>
