<template>
<div>
    <div class="col col-sm-4 col-lg-3 ml-lg-5 mt-3">
      <h4>KONTAKT</h4>
      <address>
        Pixup Media GmbH<br>
        Invalidenstraße 34<br>
        10115 Berlin<br>
        Tel: +49 30 4000 61 01<br>
        Fax: +49 30 4000 61 02<br>
        Email: info@pixupmedia.com<br>
      </address>
    </div>
    <div class="col col-sm-4 col-lg-3 ml-lg-5 mt-3" >
      <ul class="list-group">
        <li>Paypal</li>
        <li>Kreditkarte</li>
        <li>Sofort Überweisung</li>
        <li>amazon pay</li>
      </ul>
    </div>
    <div class="col col-sm-4 col-lg-3  ml-lg-5 mt-3">
      <h4>INFORMATIONEN</h4>
      <ul class="list-group">
        <li>Widerrufsrecht</li>
        <li>Datenschutz</li>
        <li>AGBs</li>
        <li>Impressum</li>
      </ul>
    </div>
</div>
</template>
