<template>
  <div class="col d-sm-flex justify-content-sm-between bg-footer-head d-none d-sm-block">
    <p id="textLeft" class=" m-2 p-2"><img class="mr-4" src="../../assets/img/icons/ok.png" alt=" image">Versandkostenfrei
      ab 70€ </p>
    <p id="textCenter" class="m-2 p-2 "><img class="mr-4" src="../../assets/img/icons/ok.png" alt=" image">Schnelle
      Lieferung</p>
    <p id="textRight" class="m-2 p-2 "><img class="mr-4" src="../../assets/img/icons/ok.png" alt=" image">Kosenlose
      Rücksendung</p>
  </div>
</template>
