<template>
  <footer class="row justify-content-center mt-5">
    <app-footer-hero-content></app-footer-hero-content>
    <div class="w-100"></div>
    <app-footer-navigation></app-footer-navigation>
    <div class="w-100"></div>
    <div class="col-12 col-sm-6 col-lg-3 my-5 d-none d-sm-block">
      <p class="text-center">Aboniern Sie unseren Newsletter und sichern Sie sich</p>
      <p class="text-center font-weight-bold">10% Rabatt</p>
      <form class="form-inline ">
        <div class="input-group w-100">
          <input type="text" class="form-control" placeholder="Ihre E-mail Adresse" aria-label="Username"
            aria-describedby="basic-addon1">
          <div class="input-group-prepend">
            <span class="input-group-text bg-white" id="basic-addon1">
              <img src="../../assets/img/icons/chevron-right-email.png" alt=" image">
            </span>
          </div>
        </div>
      </form>
    </div>
    <div class="w-100"></div>
    <div class="col-12 col-sm-6 col-lg-3 m-5 text-center">
      <picture>
        <source media="(min-width: 480px)" srcset="../../assets/img/icons/instagram.png">
        <source srcset="../../assets/img/mobilePicture/icons/m-instagram.png">
        <img class="ml-5" src="../../assets/img/icons/instagram.png" alt=" image">
      </picture>
      <picture>
        <source media="(min-width: 480px)" srcset="../../assets/img/icons/twitter.png">
        <source srcset="../../assets/img/mobilePicture/icons/m-twitter.png">
        <img class="ml-5" src="../../assets/img/icons/twitter.png" alt=" image">
      </picture>
      <picture>
        <source media="(min-width: 480px)" srcset="../../assets/img/icons/facebook.png">
        <source srcset="../../assets/img/mobilePicture/icons/m-facebook.png">
        <img class="ml-5" src="../../assets/img/icons/facebook.png" alt=" image">
      </picture>
    </div>
  </footer>
</template>

<script>
  import FooterHeroContent from './FooterHeroContent'
  import FooterNavigation from './FooterNavigation.vue'
  export default {
    components: {
      appFooterHeroContent: FooterHeroContent,
      appFooterNavigation: FooterNavigation
    }
  }
</script>
