<template>
  <div class="container-fluid" id="app">
    <app-header></app-header>
    <app-main-navigation></app-main-navigation>
    <app-home></app-home>
    <app-footer></app-footer>
  </div>
</template>

<script>
  import Header from './global/header/Header.vue'
  import Footer from './global/footer/Footer'
  import MainNavigation from './global/main-navigation/Main-navigation.vue'
  import Home from './modules/home/Home.vue'

  export default {
    name: 'app',
    components: {
      appHeader: Header,
      appFooter: Footer,
      appMainNavigation: MainNavigation,
      appHome: Home
    }
  }
</script><