//vars

@color-footer: #dddddd;
@color-nav: #e12352;
@color-nav-link: white;
@color-sub-nav: #3d3d3d;
@color-footer-head: #dbc5cd;
@color-delivery: #951535;
@color-pay: #c05660;
@color-newsletter: #fdd9dd;
@imageLogo: 75%;
@imageXXLarge: 100%;
@imageXLarge: 65%;
@imageLarge: 35%;
@imageMedium: 25%;
@imageSmall: 15%;
@imageXSmall: 3%;

//Mixins

@import "global.less";
@import "components.less";
@import "modules.less";
//---------------------------------------------------------------Basisversion------------------------------------------
* {
  //border:1px solid black;
}

//Navigation
nav {
  background-color: @color-nav;
}

.navbar-nav {
  margin-left: 9%;
}

.nav-link {
  color: @color-nav-link;
  font-size: 1, 6em;
  font-weight: bold;

  &:hover {
    background-color: @color-nav-link;
    color: @color-nav;
  }
}

#contentWidth {
  width: 75%;
}

//background Color
.bg-footer-head {
  background-color: @color-footer-head;
}

.bg-color-delivery {
  background-color: @color-delivery;
}

.bg-color-pay {
  background-color: @color-pay;
}

.bg-color-newsletter {
  background-color: @color-newsletter;
}

//footer
ul {
  list-style-type: none;
}

footer {
  background-color: @color-footer;

  #textLeft {
    position: relative;
    left: 11%;
  }

  #textCenter {
    position: relative;
    right: 6%;
  }

  #textRight {
    position: relative;
    right: 20%;
  }
}

//Logo
.imageLogo {
  max-width: @imageLogo;
}

.chevron {
  margin: 10% auto;
}

.chevron-left {
  position: absolute;
  top: 45%;
  left: 5%;
}

.chevron-right {
  position: absolute;
  top: 45%;
  right: 5%;
}

//----article-1-------------------
.imagePositionA {
  position: absolute;
  left: 15%;
  top: 48%;
}

.textPositionA1 {
  position: absolute;
  left: 13%;
  top: 31%;
  font-size: 3.6em;
  font-weight: bold;
  color: @color-nav-link;
}

.textPositionA2 {
  position: absolute;
  left: 65%;
  top: 31%;
  font-size: 3.6em;
  color: @color-nav-link;
  font-weight: bold;

  p:last-child {
    color: @color-nav;
    font-size: 2.4em;
  }
}

//-----article-1-Ende-------------


//-----article 2------------------

//-------Colum-1-------------------
.imagePositionB {
  position: absolute;
  left: 20%;
  top: 50%;
}

.textPositionB1 {
  position: absolute;
  top: 50%;
  left: 35%;
  font-size: 2.2em;
  font-weight: bolder;
  color: @color-nav-link;
}

//-------Colum-3-------------------
.imagePositionC {
  position: absolute;
  top: 55%;
  left: 35%;
}

.textPositionC1 {
  position: absolute;
  top: 37%;
  left: 32%;
  font-size: 2.6em;
  font-weight: bolder;
  color: @color-nav-link;

  p:first-child {
    font-size: 1.6em;
  }

  ;
}

//--------Colum-4----------------------
.imagePositionD {
  position: absolute;
  left: 5%;
  top: 60%;
}

.textPositionD1 {
  position: absolute;
  top: 20%;
  left: 5%;
  font-size: 1.6em;
  font-weight: bolder;
  color: @color-nav-link;

  p:first-child {
    font-size: 2.2em;
  }

  ;
}

.textPositionD2 {
  position: absolute;
  top: 62%;
  left: 10%;
  font-size: 2.6em;
  font-weight: bolder;
  color: @color-nav-link;
}

//---Colum 7-------------------------------
.imagePositionE {
  position: absolute;
  top: 60%;
  left: 60%;
}

.textPositionE1 {
  position: absolute;
  top: 25%;
  left: 57%;
  font-size: 2.6em;
  font-weight: bolder;
  color: @color-nav-link;

  p:first-child {
    font-size: 1.5em;
  }

  ;
}

//-----article-2-Ende------------------------

//----------------------------------------------------Media Query 980px-----------------------------------------------------

@media screen and (max-width: 980px) {

  .navbar-nav {
    margin-left: 2%;
  }

  footer {
    background-color: @color-footer;

    #bg-footer-head {
      background-color: @color-footer-head;
    }

    #textLeft {
      position: relative;
      left: 0%;
    }

    #textCenter {
      position: relative;
      right: 5%;
    }

    #textRight {
      position: relative;
      right: 4%;
    }
  }

  .chevron-left {
    width: @imageXSmall;
  }

  .chevron-right {
    width: @imageXSmall;
  }

  //---article-1--------------
  .imagePositionA {
    max-width: @imageMedium;
  }

  .textPositionA1 {
    top: 29%;
    font-size: 1.8em;
  }

  .textPositionA2 {
    top: 29%;
    font-size: 2.0em;
  }

  //---article-2--------------

  //-------Colum-1------------
  .imagePositionB {
    max-width: @imageXLarge;
  }

  .textPositionB1 {
    font-size: 1.4em;
  }

  //-------Colum-3-----------
  .imagePositionC {
    max-width: @imageLarge;
  }

  .textPositionC1 {
    top: 27%;
    left: 28%;
    font-size: 1.6em;

    p:first-child {
      font-size: 1.6em;
    }
  }

  //--------Colum-4-----------
  .imagePositionD {
    max-width: @imageLarge;
    top: 65%;
  }

  .textPositionD1 {
    top: 10%;
    font-size: 1.2em; //1.2em;

    p:first-child {
      font-size: 1.6em; //2.2em;

    }
  }

  .textPositionD2 {
    font-size: 1.5em; //1.2em;
    top: 68%;
  }

  //---Colum 5---------------
  .imagePositionE {
    max-width: @imageLarge;
  }

  .textPositionE1 {
    top: 25%;
    left: 58%;
    font-size: 1.8em;

    p:first-child {
      font-size: 1.0em;
    }
  }
}

//----media-query max-width 980 ende


//---------------------------------------------------Media Query 480px-----------------------------------------------------


@media screen and (max-width: 480px) {
  .navbar-nav {
    margin-left: 9%;
  }

  .nav-item {

    border-bottom: solid 1px white;
  }

  #contentWidth {
    width: 100%;
  }

  .chevron-left {
    width: @imageXSmall;
  }

  .chevron-right {
    width: @imageXSmall;
  }

  .imageSlider {
    position: relative;

    //padding:0px;
    //width:@imageXXLarge;
  }

  //---article-1----------------
  .imagePositionA {
    max-width: @imageMedium;
  }

  .textPositionA1 {
    top: 28%;
    font-size: 0.9em;
  }

  .textPositionA2 {
    top: 28%;
    font-size: 0.9em;
  }

  //-----article 2------------------

  //-------Colum-1------------------
  .imagePositionB {}

  .textPositionB1 {
    font-size: 0.9em;
    top: 50%;
  }

  //-------Colum-3-----------------
  .imagePositionC {
    //max-width:@imageSmall;
  }

  .textPositionC1 {
    font-size: 0.8em;
    top: 26%;
  }

  //--------Colum-4---------------
  .textPositionD1 {
    font-size: 0.7em;
    top: 5%;

    p {
      margin: 0px;
    }
  }

  .textPositionD2 {
    font-size: 0.7em;

  }

  //---Colum 7--------------------
  .imagePositionE {
    //	max-width:@imageSmall;
  }

  .textPositionE1 {
    top: 24%;
    left: 59%;
    font-size: 0.9em;
  }

  //-----article-2-Ende-------------
}
