<template>
  <header class="row align-items-center my-4">
    <!-- Logo -->
    <app-logo></app-logo>
    <!-- Suchfeld -->
    <app-searchfield></app-searchfield>
    <!-- icons für Merkzettel, Mein Konto und Warenkorb -->
    <app-headericons></app-headericons>
  </header>
</template>

<script>
  import Logo from './Logo.vue'
  import Searchfield from './Searchfield.vue'
  import HeaderIcons from './HeaderIcons.vue'
  export default {
    components: {
      appLogo: Logo,
      appSearchfield: Searchfield,
      appHeadericons: HeaderIcons
    }
  }
</script>