<template>
    <div class="col-12 col-sm-auto mx-auto my-2">
      <div>
        <picture>
          <source media="(min-width: 480px)" srcset="../..//assets/img/icons/heart-regular.png">
          <source srcset="../../assets/img/mobilePicture/icons/m-heart-regular.png">
          <img class="ml-4" src="../../assets/img/icons/heart-regular.png" alt=" image">
        </picture>
        <picture>
          <source media="(min-width: 480px)" srcset="../../assets/img/icons/shopping-cart-solid.png">
          <source srcset="../../assets/img/mobilePicture/icons/m-shopping-cart-solid.png">
          <img class="ml-4" src="../../assets/img/icons/shopping-cart-solid.png" alt=" image">
        </picture>
        <picture>
          <source media="(min-width: 480px)" srcset="../../assets/img/icons/user-regular.png">
          <source srcset="../../assets/img/mobilePicture/icons/m-user-regular.png">
          <img class="ml-4" src="../../assets/img/icons/user-regular.png" alt=" image">
        </picture>
      </div>
    </div>
</template>
