<template>
     <div class="col-12 col-sm-4 my-2">
      <picture>
        <source media="(min-width: 480px)" srcset="../../assets/img/images/Logo.png">
        <source srcset="../../assets/img/mobilePicture/images/m-Logo.png">
        <img class=" mx-auto d-block img-fluid imageLogo" src="../../assets/img/images/Logo.png" alt=" Logo">
      </picture>
    </div>
</template>
