<template>
  <div class="col-12 col-sm-5 my-2">
    <form class="form-inline">
      <div class="input-group mx-auto">
        <input type="text" class="form-control" placeholder="Suchbegriff" aria-label="Username" aria-describedby="basic-addon1">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1"><i class="fas fa-search"></i></span>
        </div>
      </div>
    </form>
  </div>
</template>
